:root {
  --primary: #9c0404;
  --secondary: #f3a9a9;

  --gray: #f5efef;
}
*,
.font-asa {
  font-family: Helvetica, sans-serif;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.bg-asa {
  background-color: var(--primary);
}
.color-asa {
  color: var(--primary);
}
.btn-asa {
  background-color: var(--primary);
  border: var(--primary);
  color: whitesmoke;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
.btn-asa:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

a {
  text-decoration: none;
}
/* header */
.header-container {
  position: sticky;
  top: 5px;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px var(--gray) solid;
}
.header-logo {
  display: flex;
  flex-direction: row;

  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px var(--gray) solid;
}
.header-logo-title {
  display: flex;
  align-items: flex-end;
  border-bottom: 2px var(--primary) solid;
  padding-bottom: 2px;
  margin-bottom: 6px;
}
nav,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}
li {
  margin: 0px 20px;
}
.menu-btn {
  margin: 0;
  padding: 11px 16px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  border: none;
}
.dropdown-menu {
  position: relative;
  display: inline-block;
  padding: 0;
}
.menu-content {
  display: none;
  position: absolute;
  text-align: center;
  min-width: 170px;
  z-index: 1;
  background-color: white;
  letter-spacing: 1px;
}

.links,
.links-hidden {
  color: black;
  letter-spacing: 1px;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}
.links-hidden {
  display: inline-block;
  padding: 12px 0px;
  color: black;
  width: 170px;
}

.links-hidden:hover,
.links:hover,
.menu-btn:hover {
  background-color: var(--secondary);
}
.dropdown-menu:hover .menu-content {
  display: flex;
  flex-direction: column;
}
/* content */
.section-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/home.jpg) center center no-repeat;
  background-size: cover;
}
.section-content {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.section-content-text-link {
  color: #ffffff;
}

.section-content-text {
  color: white;
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
  animation: 3s animations ease-in normal;
}

@keyframes animations {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.section-title {
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 40px 0px;
  background-color: var(--gray);
  font-size: 30px;
  text-transform: capitalize;
  padding-left: 150px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--gray);
  padding-bottom: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  border-radius: 3px;
  border: 1px gray solid;
  background-color: white;
}
.card-img {
  padding: 0 0;
  height: 400px;

  background-size: cover;
  overflow: hidden;
  background-position: center center;
}
.image-1 {
  background-image: url(../images/gagarin.jpg);
}
.image-2 {
  background-image: url(../images/diana.jpg);
}
.card-text {
  padding: 10px 20px;
  font-size: 18px;
  width: fit-content;
}
.card-button {
  margin: 35px 20px;
  color: black;
}
/* footer */
.footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  margin-top: 80px;
  text-align: left;
  font-size: 16px;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.link {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding-right: 20px;
  transition: ease 0.25s;
}
.footer-text {
  color: #8f9296;
}
.footer-media {
  display: flex;
  flex-direction: row;

  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-media-link {
  background-color: #33383b;
  align-self: center;
  padding: 0px 10px;
  margin-right: 10px;
}
.links-hidden:hover,
.links:hover,
.link:hover {
  text-decoration: underline;
}
/* about */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-text {
  max-width: 600px;
}
/* volunteer  and adopt*/
.vol-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.vol-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 20px;
}
.title {
  width: 600px;
  text-align: center;
}
.hr {
  margin-top: 50px;
}
.subtitle {
  text-align: center;
  font-size: 18px;
}
.text {
  width: 500px;
  color: #8f9296;
}
.vol-content1 {
  margin-top: 50px;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.vol-content1-text {
  text-align: justify;
  align-self: center;
}
.vol-content2 {
  background-color: var(--gray);
  margin-top: 50px;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list {
  display: flex;
  flex-direction: column;
}
.list-item {
  padding: 5px 0px;
  text-align: justify;
}
.vol-img {
  align-self: center;
}
.join {
  text-align: center;
  margin-top: 40px;
  align-self: center;
}

/* contact */
.h1 {
  margin-top: 20px;
  padding: 0 0;
  text-align: center;
}
.container-col {
  display: flex;
  flex-direction: column;
}
form {
  max-width: 620px;
  margin: 20px auto;
}

.feedback-input {
  color: #f3a9a9;

  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;

  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  text-align: center;
  width: 105%;
  background: #9c0404;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
